<% if !!current_user %>
<div style="margin-left: 90%; padding-top: 10px;"><%= link_to "Sign Up", sign_up_path%></div>

<% end %>
<h1 style="text-align: center;">Log in</h1>
<div class="login">
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button" style="float: right;"><%= submit_tag "Log in" %></p>
<% end %>
</div>

	
